.grid
{
    display: grid;
}

.grid-100
{
    display: grid;
    height: 100%;
    width: 100%;
    align-content: center;
}

.grid-col-1
{
    grid-template-columns: repeat(1,1fr);
}

.grid-col-2
{
    grid-template-columns: repeat(2,1fr);

}

.grid-col-3
{
    grid-template-columns: repeat(3,1fr);

}

.grid-col-4
{
    grid-template-columns: repeat(4,1fr);

}

.grid-col-5
{
    grid-template-columns: repeat(5,1fr);

}

.grid-itemX-col2-span-2
{
    grid-column:2/span 2;
}

.grid-itemX-col2-span-3
{
    grid-column:2/span 3;
}

.grid-itemX-pos-left
{
    justify-self: left;
}

.grid-selfX-pos-center
{
    justify-self: center;
}

.grid-items-pos-center
{
    justify-items: center;
}

.grid-selfY-pos-center
{
    align-self: center;
}

.grid-selfX-pos-right
{
    justify-self: right;
}

.grid-col-space-x1
{
    column-gap: 10px;
}

.align-items-center
{
    align-items: center;
}

.hide
{
    display: none;
}

.menu-font
{
    font-size: 3rem;
    color: yellow;
    text-align: center;
    padding-bottom: 50px;
}

.game-font
{
    font-size: 3rem;
    color: yellow;
    text-align: center;
}

.rule-menu
{
    justify-self: center;
    position: fixed;
    column-gap: 20px;
    bottom: 30px;
}

.form-border
{
    border: 2.5px solid yellow;
    color: yellow;
    font-size: 2rem;
    background-color: rgba(255, 255, 0, 0);
    line-height: 60px;
    border-radius: 50px;
    padding: 5px;
    padding-left: 15px;
}

.form-border:focus
{
    outline: none;
}

.line-height
{
    line-height: 90px;
}

.padding-top-med
{
    padding-top: 50px;
}

.padding-bottom-lg
{
    padding-bottom: 100px;
}

.rules-margin
{
    margin: 500px 5px;
    height: 50%;
    perspective: 400px;
    color: yellow;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    overflow: scroll;    
}

.fade {
    position: relative;
    width: 100%;
    min-height: 10vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
  }

.crawl {
    position: relative;
    top: 99999px;
    animation: crawl 120s linear;
  }

@keyframes crawl {
    0% {
      top: -100px;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }

/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 0, 0);
  }
